/*FÖR HELA SIDAN*//*FÖR HELA SIDAN*//*FÖR HELA SIDAN*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}
/*HEADER*//*HEADER*//*HEADER*/
header {
	display: flex; /*Display flex gör så att allt inom classen hamnar på en rad*/
	width: 80%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

.logo-container,
.nav-links,
.cart {
	display: flex; /*Display flex gör så att allt inom classen hamnar på en rad*/
}

/*LOGGA*//*LOGGA*//*LOGGA*/
.logo-container {
	flex: 1; /*Flex 1 gör så att det tar upp en del av 
			   skärmen. Det finns 4 objekt i headern och
			   nav:en som är länkarna till home, products och contact
			   tar har flex 2 och carten har flex 1 (billoggan har 1). Alltså tar loggan 
			   på bilen upp en fjärdel av header partiet och länkarna tar upp
			   halva headern och carten tar upp den sista fjärdelen.
			   Alltså hjälper flex till att jämnfördela avståndet och
			   få en objekten till flex att vara responsive.
			   Kommer inte ta upp en sådan här omfattande förklaring för alla flex
			   för det tar plats och blir upprepande.*/
}

.billogga{
	margin-top: 5px;
}

.logo {
	font-weight: 500;
	font-size: 20px;
	margin: 5px;
}
/*NAVBAR*//*NAVBAR*//*NAVBAR*/
nav {
	flex: 2; /*Naven är länkarna home, products och contact. 
			   Eftersom det finns fyra saker i headern tar den upp
			   hälften av all plats då jag satt carten och loggan som flex 1. 
			   Bättre förklaringen finns ovan.*/
}
.nav-links {
	justify-content: space-around; /*Gör så att det blir mellanrum eller gör plats runt länkarna home, products och contact*/
	list-style: none;
}
.nav-link1 {
	color: #46465e;
	font-size: 18px;
	text-decoration: none;
}

.nav-link2 {
	color: #46465e;
	font-size: 18px;
	text-decoration: none;
}

.nav-link3 {
	color: #46465e;
	font-size: 18px;
	text-decoration: none;
}

.nav-link1:hover {
	color: black;
	letter-spacing: 0.5px;
}

.nav-link2:hover {
	color: black;
	letter-spacing: 0.5px;
}

.nav-link3:hover {
	color: black;
	letter-spacing: 0.5px;
}

/*CART*//*CART*//*CART*/
.cart {
	flex: 1; /*Flex 1 gör så att det tar upp en del av skärmen, i detta fall tar det upp en fjärdedel av headern */
	justify-content: flex-end; /*Flex-end gör så att objektet åker längst till höger av 
								 området. Motsatsen är flex-start som gör att objektet
								 kommer längst till vänster.*/

}

/*RUBRIK*/
.names{
	margin-top: 10px;
	display: flex; /*Display flex gör så att allt inom classen hamnar på en rad*/
	font-weight: 500;
	justify-content: center; /*Objektet kommer i centrum av skärmen oavsett vilken storlek användaren har på fönstret*/
}
/*CONTAINER OCH BILDER*/
.container{
	margin-top: 30px;
    display: flex; /*Display flex gör så att allt inom classen hamnar på en rad*/
    flex-wrap: wrap; /*När inte bilderna får plats så åker dem ett steg nedåt*/
	justify-content: center; /*Objektet åker in till mitten*/
	align-items: center; /*Itemsen är på en rad och centrerade*/
}

.item1{
    flex: 1; /*Förklarat ovan men fyller ut så bilderna tar så stor plats som möjligt*/
}

.item2{
	flex: 1; /*Förklarat ovan*/
}

.item3{
	flex: 1; /*Förklarat ovan*/
}

/*SKUGGA OCH AMINATION FÖR BILD*//*SKUGGA OCH AMINATION FÖR BILD*/
.item1,
.item2,
.item3 {
	filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}

@keyframes drop {
	0% {
		opacity: 0; /*Opacity 0 betyder att man inte kan se objektet*/
		transform: translateY(-90px);
	}
	100% {
		opacity: 1; /*Opacity 1 betyder att man kan se objektet som vanligt*/
		transform: translateY(0px);
	}
}


/*FOOTER*/
.footer {
    position: fixed; /*Denna webb är mobilanpassad. Utan fixed foot så försvann footern.*/
    left: 0; 		
    bottom: 0;
	width: 100%;
	height: 8vh;
    background-color: rgb(238, 237, 237);
    color: black;
    text-align: center;
}


.p-foot{
	font-weight: 500;
	font-size: 10px;
}

.p-foot1{
	font-weight: 800;
	font-size: 10px;
}
/*Home, products, contact och bilden på en kundvagn har alla samma kod.*/
/*Eftersom man behövde bara göra en sida så lade jag mycket tid på att få*/
/*sidan mobilanpassad.*/ 
